.menu_container{
    width: 100%;
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: center;
    z-index: 997;
    margin-top: 30px;

}
.menu_mob{
    z-index: 999;
    position: fixed
}

#mainMenu {


    list-style:none ;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 65%;


}
.menu__li {
    display: inline-block;
    margin: 0 30px;
}
.menu__a:hover {
    background-color: transparent;
    opacity: 1;
}
.menu__a{
    background-color: transparent;
    opacity: 0.5 ;
    font-size: 20px;
    color: #ffffff;
    font-family: 'play';
    -webkit-transition: all .9s;
    -moz-transition: all .9s;
    -ms-transition: all .9s;
    -o-transition: all .9s;
    transition: all .9s;
}


/** menu in top **/
.logocontainer{
    margin-left: 50px;
    line-height: 0.8;
    margin-top: 300px;
}
.logo{
    font-family: 'Micra Bold', arial;;
    font-size: 108px;
    letter-spacing: -7px;
    font-stretch: ultra-condensed;
    margin-bottom: 0px;

}
.br{
    width: 260px;
    height: 3px;
    background-color: #ffffff;
    margin-bottom: 20px;
    margin-left: 5px;
}
.vr{
    width: 3px;
    height: 200px;
    background-color: #ffffff;
    float: right;
}
.logocontainer p{
    font-size: 20px;
    opacity: 0.5;
    margin-left: 5px;
    float: left;
    margin-top: 20px;
}

.questionconteiner{
    float: right;
    margin-right: 50px;
}
.questionconteiner div {
    height: 150px;
    float: left;
    margin-right: 20px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: end;
    margin-top: 150px;
}
.br.opac{
    position: absolute;
    top: 30%;
    right:15%;
    opacity: 0.1;
    width: 170px;
}
.vr.opac{
    position: absolute;
    float: left;
    margin-left: 300px;
    margin-top: 250px;
    opacity: 0.1;
}
.button{
    position: absolute;
    bottom: 100px;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    height: 30px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 30px;
    background-color: transparent;
    border-radius: 40px;
    border: solid 2px;
    line-height: 1;
    transition: all .7s ease-in-out;

}
.button:hover{
    background-color:#ffffff;
    color: #000000;

}

.button:hover .dumbleblack{
    display: inline;
}

.dumbcontainer{
    display: inline;
    margin-left: 10px;
    margin-right: 25px;
}
.dumbcontainer img{
    width: 30px;
    height: 30px;
    position: absolute;
}
.dumbleblack{
    z-index:6;
    display: none;
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.dumbwhite{
    z-index: 3;
}
@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(180deg);
}
}
.mobile{
    opacity: 0;

}


.full{

    opacity: 1;
    width: 100%;
    height: 100%;
    background-color: black;
    margin-top: 0;
    animation: fadeIn;
    animation-duration: 1s;
    transition-delay: 1s;
    transition: all 1s;
}


