.vr,.br, .vrb, .half_2{
    display: none;
}
body{
    margin: 0;
}
.logocontainer{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;

}
.logocontainer > p {
    float: left;
}
.logo{
    margin: 0;
    font-size:18vw;
    text-align: center;
    line-height: 0.9;
}
.logocontainer p{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.button{
    position: static;
    margin-top: 0;
}
.questionconteiner{
    margin-right: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0 30px;
    font-size:17px;
    float:left;

}
.questionconteiner div{
    margin-top: 0;
    margin-right: 0;
    text-align: left;
    height: auto;
}

.button{
    margin: auto auto;
    width: 300px;
    text-align: center;
    color:white;
    height: auto;
    position: static;
    margin-left: 0;
    display:inline-block;
    margin-top: 50px;
    margin-bottom: 50px;


}
.page1{
    height: 650px;
}

.section{
    opacity: 1;


}

.container.flex{
    flex-direction:column;
}
.advantage{
    flex-direction:column;

    text-align: justify;
}
.page2,.page3{
    height: auto;
}
.text_container{
    position:static;
    background: none;
}
.half_1 > .logo{
    position: static;
    margin: 0 auto
}
.aboutbot, .abouttop{
    margin:0;
}

.aboutbot{
    text-align: end;
    width:100%;
    margin-top: 50px;
    margin-bottom: 50px;

}
.page3{
    padding-left:18px;
    padding-right: 18px;

}
.abouttop{
     text-align: start;
     width:100%;
     margin-bottom: 30px;

 }
.logo.small{
    font-size:17vw;
    margin:0;
    box-sizing: border-box;
    margin: 50px 0;
}
.zona{
    width:100vw;
    height:55vw;
    background-size: cover;
    background-position: center;

}
.zone_1{
    background-image: url(../images/4slbggym.jpg);

}
.zone_2{
    background: white;
}
.zone_4{
    background: white;
}
.half_4 >div{
    margin-bottom: 20px;
}
.item_text > h2{
    font-size:30px;
}
.half_4{
    flex-basis: 100%;
}
.item1,.item2,.item3,.item4{
    justify-content: center;
}
.item_text{
    margin-left: 0;
}
.item1:hover{
    transform: none;
}
.item2:hover{
    transform: none;
}
.item3:hover{
    transform: none;
}
.item4:hover{
    transform: none;
}
.slide{
    height:100%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slides{
    height: 100%;
}
.slide1{

}
.slide2{

}

.slider{
    height:100vh;
}
.coach_name{
    font-size:7vw;
    font-family:'micra bold';
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;

}

.button.coach{
    margin-bottom: 30px;
    margin-top: 30px;
}
.slides img{
    width: 30px;
    height: auto;
}
.adress p{
    font-size:60px;
}
.social p {
    font-size:60px;
    margin-bottom: 5px;
}
.social i {
    font-size:60px;
}
.number a{
    font-size:60px;
    color: white;
    text-decoration: none;
}
.page7{
    height: 400px;
}
.info{
    height: 300px;
    flex-basis: 100%;
}
.adress span{
    margin-bottom: 20px;
}
.logocontainer{margin-top: 0px}
.clickedd{
    margin-top: -150px;
}
.page1{
    padding-top: 35px;
}

.fade-in{
    background-color: white;
    transition: all 1s ease-out;
    color: black;
}
.half_4 >div{
    width: 100%;
    border-radius: 0;
}
.fa-close{
    right: -2%;
}
.adress p, .social p {
    font-size: 40px;
}
.number a{
    font-size: 40px;
}
.social{
    flex-basis: 30%
}
.info{
    height: 300px;

}
.adress{
    margin-top: 30px;
}


.item1,.item3{

    align-self: flex-end;!important;
}
.item2,.item4{

    align-self: flex-start;!important;
}
.page4{
    margin-bottom: 20px;
    margin-bottom: 0;
    font-family: 'Micra Bold', arial;
}
.advantage p{
    padding-bottom: 30px;
}
.half_4 > h1{
    font-family: 'Micra Bold', arial;
}
.advantage >h3{
    margin-top: 10px;
}
div>.brn{
    width: 75%;
    height: 2px;
    background-color: white;
    margin-top: 0px;
    margin-bottom: 10px;
}
.black{
    background-color: black;
}
@media  (min-width: 780px){
    .text_container{
        margin-top: 70px;
    }
    .page1{
        height: 750px;
    }
    .logo{
        font-size: 14vw;
    }

}
@media  (max-width: 986px)and (min-width: 300px){
    .logo.small{
        font-size:15vW;
    }
}


.logo.small{
    text-align:center;
    width:auto;
    margin-right: 0px;

}
.dumbwhite > img{
    min-width: 0;

}
.text_container{
    margin-top: 100px;
}
.coach1_name{
    font-size: 8vw;
    text-align: center;
}
.logocontainer p{
    float: none;
}
body{
    background-image: url(../images/4slbggym.jpg);
    background-attachment: fixed;
    background-position: center;
}
@media  (max-width: 580px){
    .modal.writer{
        padding: 0 10px
    }
}
